
* {

    font-family: 'Crimson Text', serif;

}

header {

    background-color: blanchedalmond

}

header div {

    height: 200px;

    width: 960px;

    margin: auto;

}

header div h1 {

    padding-top: 50px;

    text-align: center;

    font-size: 60px;  

}

#default-option {

    text-align: center;

}

main {

    width: 960px;

    margin: auto;

}

main section {

    width: 300px;

    height: 350px;

    border: 1px red solid;

    float: left;

}

/* #photo-template {

   

} */

section h2 {

    text-align: center;

    font-size: 30px;

}

section img {

    margin-left: 50px;

    margin-right: 50px;

}

section p {

    text-align: center;

}

footer {

    float: left;

    width: 100%;

}
