h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 90px;
    color: whitesmoke;

}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    color: whitesmoke;
}

h3 {
    font-family: 'Great Vibes', cursive;
    font-size: 30px; 
}

p, button, select {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}


#titles {
    height: 250px;
    background-color: rgb(5, 114, 141);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

nav {
    background-color: goldenrod;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main {
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

#photo-template {
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgba(5, 114, 141, 0.281);
    border-radius: 5px;
    border-width: 5px;
    border-style: double;
    border-color: white;
}

#photo-template img {
    width: 200px;
    border-radius: 5px;
}

#photo-template p {
    padding: 0px 10px;
}

footer{
    background-color: goldenrod;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}